<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h2>Hostel Students with Address</h2>

<table>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
    </tr>
    <tr th:each="list : ${list}">
        <td th:text="${list.name}"></td>
        <td th:text="${list.city}"></td>
        <td th:text="${list.state}"></td>
    </tr>
</table>
</div>

</body>
</html>